<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>about</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<!-- StaticPages help.html inserted into main.html -->
		<h1>about</h1>
		<p>
			<a>ARMS Thailand</a><span>is a company to create fascinating and fantastic application specialized for web contents let's try with</span><a>us</a>
		</p>
		<!-- StaticPages help.html inserted into main.html End -->
	</div>
</body>
</html>